.acc {
    padding: 15px;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
.file{
    border: bisque solid 2px;
    border-radius: 10px;
    background-color: dimgray;
    padding: 5px;
}
.contacts{
    float: right;
}