
.head{
    grid-area: h;
    background-color: darkgrey;
    border: dimgray 2px solid;
    border-radius: 10px;
}
.head img {
    width: 50px;
}
.login{
    border: bisque solid 2px;
    border-radius: 10px;
    float: right;
}
.text{
    padding: 5px;
    color: beige;
}
.image{
    width: 20px;
    height: 30px;
    border-radius: 10px;
}
.profile{
    background-color: dimgray;
    border-radius: 4px;
    float: right;

}
.dropdownDisable{
    display: none;
}

.dropdownActive{
    display: block;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.items{
    color: darkgrey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.items:hover{
    background-color: lightgray;
}
.profileBox{
    padding-right: 20px;
    float: right;
}